@using WebMVCDemo.Help
@model IEnumerable<WebMVCDemo.Models.NhomSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}
@section _Header
{
    <link href="~/Areas/admin/Content/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
}
<h2>Quản Lý Nhóm Sản Phẩm</h2>

<p  style="right:0">
    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Create", "Create", "productgroup", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayName("Tên Nhóm SP")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta)
        </th>
        <th>
            @Html.DisplayName("Ẩn")
        </th>
        <th>
            @Html.DisplayName("Thứ Tự")
        </th>
        <th>
            @Html.DisplayName("Ngày Cập Nhật")
        </th>
        <th></th>
    </tr>

    @{ var number = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(number++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBegin)
            </td>
            <td>
                <button style="background-color:#f6c23e;border:1px solid #858796; border-radius:4px;">@Html.ActionLink("Sửa", "Edit", new { id = item.MaNhom })</button>
                <button style="background-color:mediumseagreen;border:1px solid #858796; border-radius:4px;">@Html.ActionLink("Chi Tiết", "Details", new { id = item.MaNhom })</button>
                <button style="background-color:orangered;border:1px solid #858796; border-radius:4px;">@Html.ActionLink("Xóa", "Delete", new { id = item.MaNhom })</button>
            </td>
        </tr>
    }
</table>

@section _Footer
{
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Content/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Content/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Areas/admin/Content/admin/js/demo/datatables-demo.js"></script>
}
