@model WebMVCDemo.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chi Tiết Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên Menu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hide)
        </dd>

        <dt>
            @Html.DisplayName("Thứ Tự")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày Thêm Menu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

    </dl>
</div>
<div class="form-group">
    <button style="width: 400px; height:50px; font-size:20px;background-color:#1cc88a; border-radius:8rem; border:none; margin:10px 0 0 10px">
        @Html.ActionLink("Sửa Menu", "Edit", new { id = Model.Id })
    </button>
</div>

<div>
    <button style="width: 400px; height:50px; font-size:20px;background-color:#36b9cc; border-radius:8rem; border:none; margin:10px 0 0 10px">
        @Html.ActionLink("Trở Lại", "Index")
    </button>
</div>
